body{
	font-family: PT Sans;
}

#header-info{
	display: grid;
	grid-template-columns: auto;
	background-color: #000;
	height: 44px;
}

div img{
position: absolute;
left: 268px;
top: 22px;
}

header div p{
	font-family: PT Sans;
	font-size: 12px;
	color: #969696;
	position: absolute;
	left: 299px;
	top: 10px;
}

.button{
	position: absolute;
	left: 800px;
	top: 3px;
}

.button p a{
	text-decoration: none;
	color: #969696;
}

nav{

	height: 80px;
	background: #0F0F0F;
}

nav img{
	position: absolute;
	left: 268px;
	top: 78px;
}

.nav-bar{
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 15px;
	position: absolute;
	top: 65px;
	left: 690px;
	list-style: none;
}

nav ul li a{
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.icon-cart{
	position: absolute;
	left: 1130px;
}

.icon-search{
	position: absolute;
	left: 1180px;
}



#container-info{
	background-image: url(Images/img1-v2.png);
	background-repeat: no-repeat;
	height: 610px;
	z-index: -1;
}

.border-logo{
	position: absolute;
	left: 610px;
	top: 345px;
	border: 2px solid #fff;
	width: 210px;
	height: 210px;
}

#logo-in-border{
	position: absolute;
	left: 665px;
	top: 425px;
}

.line{
	border: 1px solid #fff;
	width: 102px;
	margin-top: 115px;
	margin-left: 50px;
}

.border-logo p{
	font-size: 22px;
	line-height: 28px;
	margin-top: 5px;
	margin-left: 52px;
	text-transform: uppercase;
	color: #FFFFFF;
}

h4{
	position: absolute;
	left: 340px;
	top: 600px;
	width: 730px;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

#section-new-content{
	display: grid;
	grid-template-columns: repeat(2,700 592);
	height: 400px;
	background: #000000;
	border: 1px solid red;
}